{include file="header.html"}
<script type="text/javascript">
   
</script>
{$build_editor}
{$build_upload}
<div id="rightTop">
    <p>店铺广告位管理</p>
    <ul class="subnav">
        <li><a class="btn1" href="index.php?app=storeads">{$lang.manage}</a></li>
       
        <li><a class="btn1" href="index.php?app=storeads&amp;act=add">{$lang.add}</a></li>
     
    </ul>
</div>

<div class="info">
    <form method="post" enctype="multipart/form-data" id="article_form">
        <table class="infoTable">
            <tr>
                <th class="paddingT15">
                   店铺编号:</th>
                <td class="paddingT15 wordSpacing5">
                    <input class="infoTableInput" id="store_id" type="text" name="store_id" value="{$conf.store_id|escape}" />
                </td>
            </tr>
          
            <tr>
                <th class="paddingT15">
                    店铺名称:</th>
                <td class="paddingT15 wordSpacing5">
                    <input class="infoTableInput" id="store_name" type="text" name="store_name" value="{$conf.store_name}" />
                </td>
            </tr>
              <tr>
                <th class="paddingT15">
                    <label for="article">左侧特色服务内容:</label></th>
                <td class="paddingT15 wordSpacing5">
                    <textarea id="menu_value" name="menu_value" style="width:650px;height:100px;">{$conf.menu_value|escape}</textarea>
                </td>
            </tr>
            <tr>
                <th class="paddingT15">
                    <label for="article">右侧广告位内容:</label></th>
                <td class="paddingT15 wordSpacing5">
                    <textarea id="ad_value" name="ad_value" style="width:650px;height:100px;">{$conf.ad_value|escape}</textarea>
                </td>
            </tr>


         

        <tr>
            <th></th>
            <td class="ptb20">
                <input class="formbtn" type="submit" name="Submit" value="{$lang.submit}" />
                <input class="formbtn" type="reset" name="Submit2" value="{$lang.reset}" />
            </td>
        </tr>
        </table>
       
    </form>
</div>
{include file="footer.html"}
